@import "tailwindcss";

:root {
  --font-en: var(--font-en-serif);
  --font-bn: var(--font-bn-serif);
  --font-mono: var(--font-mono);
}

body {
  font-family: var(--font-en), var(--font-bn), serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

