@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* =====================
   AUTH (LOGIN / REGISTER)
===================== */

.auth-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
}

.auth-box {
  width: 100%;
  max-width: 420px;
  background: #fff;
  padding: 36px 32px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  text-align: center;
}

.auth-logo {
  display: block;
  margin: 0 auto 12px auto;
}


.auth-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 6px;
  color: #111;
}

.auth-subtitle {
  font-size: 14px;
  color: #666;
  margin-bottom: 28px;
}

.auth-input {
  width: 100%;
  padding: 14px 12px;
  margin-bottom: 14px;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
  font-size: 14px;
  background: #fff;
}

.auth-input::placeholder {
  color: #9ca3af;
}

.auth-input:focus {
  outline: none;
  border-color: #635bff;
}

.auth-btn {
  width: 100%;
  padding: 14px;
  background: #635bff;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 6px;
}

.auth-btn:hover {
  opacity: 0.95;
}

.auth-footer {
  margin-top: 18px;
  font-size: 14px;
  color: #555;
}

.auth-footer a {
  color: #635bff;
  text-decoration: none;
  font-weight: 500;
}
